<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Editing Article</h1>
			</div>
			<div class="panel-body">
				<%= render "article_form" %>
			</div> 
		</div>
	</div>
</div>