<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Recent Posts</h1>
			</div>
			<div class="panel-body">
				<%= button_to "New Arcticle", new_article_path, 
					:method => "get", class: "btn btn-primary" %>
				
				<ul id="articles">
					<% @articles.each do |article| %>
						<li id="article-<%= article.id %>">
							<%= link_to article.title, article_path(article), class: 'article_title' %>
						</li>

					<%end%> 
				</ul>
			</div> 
		</div>
	</div>
</div>


