<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Recent Posts</h1>
			</div>
			<div class="panel-body">
				
				<ul id="articles">
					<%= render @articles %>
				</ul>
				<%= button_to "New Arcticle", new_article_path, 
					:method => "get", class: "btn btn-success new-article-btn" %>
			</div> 
		</div>
	</div>
</div>


