<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1><%= @author.username %></h1>
			</div>
			<div class="panel-body">
				<div class="article-body">
					<p>
						<%= @author.email %>
					</p>
				</div>
				
				</div>
				
		</div>
	</div>
</div>