<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1><%= pluralize(@tag.articles.count, "Article") %> with tag: <%= @tag.name %></h1>
			</div>
			<div class="panel-body">
				<ul id="articles">
						<%= render @tag.articles, partial: "articles/user"%>
				</ul>
			</div>	
		</div>
	</div>
</div>