@import "bootstrap-sprockets";
@import "bootstrap";


.new-article-btn{
    width:100%;
}

.tag-index {
    padding: 5px 0 5px 0;
}

.article-body{
    overflow: hidden;
    margin-bottom: 5px;    
}

.article-preview{
    .article-body{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        width: 100%;
    }
}

.article-actions{
    float: right;
}

.article-tags{
    float: left;
}

.panel {
    .btn {
        margin-top: 10px
    }
    ul {
        list-style-type: none;
        padding-left: 0px;
        
    }
    a {
        text-decoration: none;
    }
    li{
        border-bottom: solid grey 1px;
    }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.article-comments {
    border-top: solid grey 1px;
    
    li {
        border-left: solid #337ab7 5px;
        padding-left: 5px;
    }       
}