<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      	<%= link_to "Blogger", root_path, id: "logo" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Categories", tags_path %></li>
      </ul>
    </div>
</nav>